# Genel
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code ayarlarının ekip içinde paylaşılması tercih edilirse bu satır açılabilir.
#.vscode/

# Flutter, Dart ve Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Otomatik üretilen uygulama kaynakları
/lib/database/database.g.dart
/lib/l10n/app_localizations.dart
/lib/l10n/app_localizations_*.dart

# Sembol dosyaları
app.*.symbols

# Kod gizleme çıktıları
app.*.map.json

# Android Studio derleme çıktıları
/android/app/debug
/android/app/profile
/android/app/release

# Geliştirici araçları
devtools_options.yaml
